body {
    margin: 0;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
}
body.nojs {
    display: grid;
    place-items: center;
}

.search-box,
.time-container {
    position: absolute;
    display: grid;
    place-items: center;
}

.time-container {
    top: 0;
    right: 0;
    margin-top: 24px;
    width: 200px;

    > label {
        position: absolute;
        bottom: -1.5em;
    }
}

.search-box > p,
.time-container > p {
    margin-block: 0 0.7em;
    color: #444;
}

[hidden] {
    visibility: hidden;
}

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
